#heading{
    text-align: center;
    color: black;
}
.square{
    background-color: white;
    border: 1px solid black;
}
.red{
    background-color: red;
    border: 1px solid white;
}
.blue{
    background-color: blue;
    border: 1px solid white;
}
.green{
    background-color: green;
    border: 1px solid white;
}

body{
    background-color: gray;
}
button{
    background-color: white;
    border: 1px solid black;
}
button:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}


.container {
    margin-top: 100px;
    margin-right: auto;
    margin-left: 100px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 500px;
    width: 500px;
  }